//%---Break Points Vars
$breakPoint-exSmall: 575.98px;
$breakPoint-SmartphoneMin: 576px;
$breakPoint-SmartphoneMax: 767.98px;
$breakPoint-TabletMin: 768px;
$breakPoint-TabletMax: 991.98px;
$breakPoint-DesktopsMin: 992px;
$breakPoint-DesktopsMax: 1199.98px;
$breakPoint-LargeDesktop: 1200px;

