%main-headline {
  background-color: rgb(255, 251, 0);
  color: rgb(0, 30, 128);
  letter-spacing: 3px;
  font-size: 5rem;
}

$breakPoint-exSmall: 575.98px;
$breakPoint-SmartphoneMin: 576px;
$breakPoint-SmartphoneMax: 767.98px;
$breakPoint-TabletMin: 768px;
$breakPoint-TabletMax: 991.98px;
$breakPoint-DesktopsMin: 992px;
$breakPoint-DesktopsMax: 1199.98px;

