//%---Portrait Smartphone
//%---Max Width 575.99 px
@media (max-width: 575.99px) {
  body {
    #myHeader {
      #headlineBox {
        width: 75vw;
        height: 50%;
        h1 {
          font-size: 4.5em;
          padding: 2% 25% 2% 20%;
          z-index: 2;
        }
      }
      nav {
        height: 50%;
        #navCollapseBtn {
          position: absolute;
          top: 0;
        }
      }
      #borderBottomHeadline {
        // margin-right: 25vw;
        display: none;
      }
      nav {
        .container {
          .collapse {
            form {
              #srcBtn {
                width: 100%;
                margin-top: 3%;
              }
            }
          }
        }
      }
    }
    #innerContent {
      #sctn1 {
        .container-fluid {
          .row {
            #boxOfAllCards {
            padding: 0 10% 0 10%;
              .myCardBox {
                width: 100%;
              }
            }
          }
        }
      }
      #sctn2 {
        #mySpecialSrcBox {
          h2 {
            font-size: 3rem;
          }
          h3 {
            font-size: 2.5rem;
            top: 28%;
          }
        }
      }
      #chartWindow {
        #canvasBox {
          width: 85%;
          margin: 0 auto;
          padding: 1% 0 1.5%;
        }
      }
    }
  }
}

//%---Tablet---
//%---Min-Width: 576px Max-Width 767.99
@media (min-width: 576px) and (max-width: 767.99px) {
  body {
    #myHeader {
      #headlineBox {
        height: 50%;
        h1 {
          font-size: 5em;
          padding: 2% 25% 3% 25%;
        }
      }
      nav {
        height: 50%;
        #navCollapseBtn {
          position: absolute;
          top: 0;
        }
      }
      nav {
        .container {
          .collapse {
            form {
              #searchCoin {
                width: 48%;
              }
              #srcBtn {
                width: 48%;
              }
            }
          }
        }
      }
    }
    #innerContent {
      #sctn1 {
        .container-fluid {
          .row {
            #boxOfAllCards {
            padding: 0 10% 0 10%;
              .myCardBox {
                width: 48%;
              }
            }
          }
        }
      }
      #sctn2 {
        #mySpecialSrcBox {
          h2 {
            font-size: 3rem;
          }
          h3 {
            font-size: 2.5rem;
            top: 28%;
          }
        }
      }
      #chartWindow {
        #canvasBox {
          width: 80%;
          margin: 0 auto;
          padding: 1% 0 1.5%;
        }
      }
    }
  }
}
//%---Normal/Desktops/Landscape Smartphone
//%---Min-Width: 768px Max-Width 1199.99px
@media (min-width: 768px) and (max-width: 1199.99px) {
  body {
    #myHeader {
      #headlineBox {
        z-index: 0;
        h1 {
          font-size: 3em;
          padding: 1% 25% 3% 25%;
        }
      }
      nav {
        div.container {
          div.collapse {
            padding-right: 13vw;
          }
        }
      }
    }
    #innerContent {
      #sctn2 {
        #mySpecialSrcBox {
          h2 {
            font-size: 3rem;
          }
          h3 {
            font-size: 2.5rem;
            top: 28%;
          }
        }
      }
      #InfoSctn {
        // visibility: hidden;
        overflow-y: scroll;
        position: absolute;
        margin: 0.5% auto;
        left: 7.5%;
        top: 0;
        width: 85%;
        height: 99%;
        border: 1px solid rgb(0, 0, 0);
        z-index: 1;
        background-color: rgb(210, 209, 219);
        img {
          position: fixed;
          top: 17%;
          left: 5%;
          width: 20%;
          border: 2px solid rgb(17, 9, 58);
          border-radius: 50%;
        }
        #contactMe {
          position: fixed;
          top: 50%;
          font-size: 1.8em;
          font-weight: bold;
          margin-left: 2%;
          a {
            color: blue;
            text-decoration: underline;
          }
        }
        #student {
          position: absolute;
          text-align: center;
          padding-top: 0.5%;
          width: 70%;
          top: 0;
          left: 23%;
          font-size: 1.8em;
          font-weight: bold;
          letter-spacing: 2px;
          span {
            &:nth-child(1) {
              font-style: italic;
              color: rgb(7, 6, 73);
            }
            &:nth-child(3) {
              font-size: 0.9em;
            }
          }
        }
        #quickOverview {
          position: absolute;
          width: 40%;
          top: 15%;
          right: 37%;
          padding: 1%;
          border: 1px solid rgb(11, 6, 63);
          font-size: 1.7em;
        }
        #tech {
          position: absolute;
          width: 35%;
          top: 15%;
          right: 0;
          padding: 1%;
          border: 1px solid rgb(11, 6, 63);
          font-size: 1.7em;
          div {
            float: left;
            &:nth-child(1) {
              span {
                font-weight: bold;
                font-size: 1.1em;
              }
            }
            // &:nth-child(2) {
            //   margin-left: 5%;
            //   ul {
            //     list-style-position: inside;
            //     ul {
            //       padding-left: 5%;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}
//%---Widescreen---
//%---Min-Width: 1200px
@media (min-width: 1200px) {
  body {
    #myHeader {
      #headlineBox {
        z-index: 0;
        h1 {
          font-size: 6em;
          padding: 0.6% 0% 2% 1.5%;
        }
      }

      // nav {
      //   div.container {
      //     div.collapse {
      //       // padding-right: 9.5vw;
      //     }
      //   }
      // }
    }
    
  }
}
