@media (max-width: 575.98px) {
  body #myHeader #headlineBox {
    width: 75vw;
    height: 50%;
  }
  body #myHeader #headlineBox h1 {
    font-size: 4.5em;
    padding: 2% 25% 2% 20%;
    z-index: 2;
  }
  body #myHeader nav {
    height: 50%;
  }
  body #myHeader nav #navCollapseBtn {
    position: absolute;
    top: 0;
  }
  body #myHeader #borderBottomHeadline {
    display: none;
  }
  body #myHeader #borderLeftImg {
    height: 18vh;
    right: 25vw;
  }
  body #myHeader #imgBox {
    width: 25vw;
    height: 18vh;
  }
  body #myHeader nav .container-fluid .collapse form #srcBtn {
    width: 100%;
    margin-top: 3%;
  }
  body #innerContent #sctn1 #boxOfAllCards .myCardBox {
    width: 100%;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
  body #innerContent #chartWindow #canvasBox {
    width: 85%;
    margin: 0 auto;
    padding: 1% 0 1.5%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body #myHeader #headlineBox {
    width: 80vw;
    height: 50%;
  }
  body #myHeader #headlineBox h1 {
    font-size: 5em;
    padding: 2% 25% 3% 25%;
  }
  body #myHeader nav {
    height: 50%;
  }
  body #myHeader nav #navCollapseBtn {
    position: absolute;
    top: 0;
  }
  body #myHeader #borderBottomHeadline {
    display: none;
  }
  body #myHeader #borderLeftImg {
    height: 18vh;
    right: 20vw;
  }
  body #myHeader #imgBox {
    width: 20vw;
    height: 18vh;
  }
  body #myHeader nav .container-fluid .collapse form #searchCoin {
    width: 48%;
  }
  body #myHeader nav .container-fluid .collapse form #srcBtn {
    width: 48%;
  }
  body #innerContent #sctn1 #boxOfAllCards .myCardBox {
    width: 100%;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
  body #innerContent #chartWindow #canvasBox {
    width: 80%;
    margin: 0 auto;
    padding: 1% 0 1.5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body #myHeader #headlineBox {
    z-index: 0;
    width: 86vw;
  }
  body #myHeader #headlineBox h1 {
    font-size: 6em;
    padding: 1% 25% 3% 25%;
  }
  body #myHeader #borderBottomHeadline {
    margin-right: 14vw;
  }
  body #myHeader #borderLeftImg {
    height: 18vh;
    right: 14vw;
    z-index: -1;
  }
  body #myHeader #imgBox {
    width: 14vw;
    height: 18vh;
  }
  body #myHeader nav div.container-fluid div.collapse {
    padding-right: 13vw;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body #myHeader #headlineBox {
    width: 86vw;
    z-index: 0;
  }
  body #myHeader #headlineBox h1 {
    font-size: 6.5em;
    padding: 0 25% 3% 25%;
  }
  body #myHeader #borderBottomHeadline {
    margin-right: 14vw;
  }
  body #myHeader #borderLeftImg {
    height: 18vh;
    right: 14vw;
    z-index: -1;
  }
  body #myHeader #imgBox {
    width: 14vw;
    height: 18vh;
  }
  body #myHeader nav div.container-fluid div.collapse {
    padding-right: 9.5vw;
  }
}

@media (min-width: 1200px) {
  body #myHeader #headlineBox {
    width: 87vw;
    z-index: 0;
  }
  body #myHeader #headlineBox h1 {
    padding: 0 25% 3% 25%;
  }
  body #myHeader #borderBottomHeadline {
    margin-right: 13vw;
  }
  body #myHeader #borderLeftImg {
    height: 18vh;
    right: 13vw;
    z-index: -1;
  }
  body #myHeader #imgBox {
    width: 13vw;
    height: 18vh;
  }
  body #myHeader nav div.container-fluid div.collapse {
    padding-right: 10vw;
  }
}
/*# sourceMappingURL=mediaQuerys.css.map */