@media (max-width: 575.99px) {
  body #myHeader #headlineBox {
    width: 75vw;
    height: 50%;
  }
  body #myHeader #headlineBox h1 {
    font-size: 4.5em;
    padding: 2% 25% 2% 20%;
    z-index: 2;
  }
  body #myHeader nav {
    height: 50%;
  }
  body #myHeader nav #navCollapseBtn {
    position: absolute;
    top: 0;
  }
  body #myHeader #borderBottomHeadline {
    display: none;
  }
  body #myHeader nav .container .collapse form #srcBtn {
    width: 100%;
    margin-top: 3%;
  }
  body #innerContent #sctn1 .container-fluid .row #boxOfAllCards {
    padding: 0 10% 0 10%;
  }
  body #innerContent #sctn1 .container-fluid .row #boxOfAllCards .myCardBox {
    width: 100%;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
  body #innerContent #chartWindow #canvasBox {
    width: 85%;
    margin: 0 auto;
    padding: 1% 0 1.5%;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  body #myHeader #headlineBox {
    height: 50%;
  }
  body #myHeader #headlineBox h1 {
    font-size: 5em;
    padding: 2% 25% 3% 25%;
  }
  body #myHeader nav {
    height: 50%;
  }
  body #myHeader nav #navCollapseBtn {
    position: absolute;
    top: 0;
  }
  body #myHeader nav .container .collapse form #searchCoin {
    width: 48%;
  }
  body #myHeader nav .container .collapse form #srcBtn {
    width: 48%;
  }
  body #innerContent #sctn1 .container-fluid .row #boxOfAllCards {
    padding: 0 10% 0 10%;
  }
  body #innerContent #sctn1 .container-fluid .row #boxOfAllCards .myCardBox {
    width: 48%;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
  body #innerContent #chartWindow #canvasBox {
    width: 80%;
    margin: 0 auto;
    padding: 1% 0 1.5%;
  }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  body #myHeader #headlineBox {
    z-index: 0;
  }
  body #myHeader #headlineBox h1 {
    font-size: 3em;
    padding: 1% 25% 3% 25%;
  }
  body #myHeader nav div.container div.collapse {
    padding-right: 13vw;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h2 {
    font-size: 3rem;
  }
  body #innerContent #sctn2 #mySpecialSrcBox h3 {
    font-size: 2.5rem;
    top: 28%;
  }
  body #innerContent #InfoSctn {
    overflow-y: scroll;
    position: absolute;
    margin: 0.5% auto;
    left: 7.5%;
    top: 0;
    width: 85%;
    height: 99%;
    border: 1px solid black;
    z-index: 1;
    background-color: #d2d1db;
  }
  body #innerContent #InfoSctn img {
    position: fixed;
    top: 17%;
    left: 5%;
    width: 20%;
    border: 2px solid #11093a;
    border-radius: 50%;
  }
  body #innerContent #InfoSctn #contactMe {
    position: fixed;
    top: 50%;
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 2%;
  }
  body #innerContent #InfoSctn #contactMe a {
    color: blue;
    text-decoration: underline;
  }
  body #innerContent #InfoSctn #student {
    position: absolute;
    text-align: center;
    padding-top: 0.5%;
    width: 70%;
    top: 0;
    left: 23%;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
  }
  body #innerContent #InfoSctn #student span:nth-child(1) {
    font-style: italic;
    color: #070649;
  }
  body #innerContent #InfoSctn #student span:nth-child(3) {
    font-size: 0.9em;
  }
  body #innerContent #InfoSctn #quickOverview {
    position: absolute;
    width: 40%;
    top: 15%;
    right: 37%;
    padding: 1%;
    border: 1px solid #0b063f;
    font-size: 1.7em;
  }
  body #innerContent #InfoSctn #tech {
    position: absolute;
    width: 35%;
    top: 15%;
    right: 0;
    padding: 1%;
    border: 1px solid #0b063f;
    font-size: 1.7em;
  }
  body #innerContent #InfoSctn #tech div {
    float: left;
  }
  body #innerContent #InfoSctn #tech div:nth-child(1) span {
    font-weight: bold;
    font-size: 1.1em;
  }
}

@media (min-width: 1200px) {
  body #myHeader #headlineBox {
    z-index: 0;
  }
  body #myHeader #headlineBox h1 {
    font-size: 6em;
    padding: 0.6% 0% 2% 1.5%;
  }
}
/*# sourceMappingURL=mediaQuerys.css.map */